h1,h2{
   margin: 0px;
   padding-top: 21.44px;
   padding-bottom: 21.44px;
}
form{
   margin: 0px;
   padding-bottom: 21.44px;
}
.add{
   border-top: black 1px solid;
   border-bottom: black 1px solid;
}

.add label{
   margin: 5px 0;
}

.add2{
   border-top: black 1px solid;
}
table,td,th{
   border: solid 1px black;
}
img{
   width: 200px
}

.img{
   width: 200px;
}

.tag{
   width: 80px;
}

.status_false{
   background-color: gray;
}
.err-msg{
   color: #FF0000;
}

.comment{
   width: 300px;
   height: 100px;
}

.update_comment{
   width: 100px;
   height: 100px;
}

.logo {
  float: left;
  display:block;
  width: 200px;
  margin-top: 10px;
}

.address{
   border-top: dotted black 1px;
   border-bottom: dotted black 1px;
   margin: 5px 0;
   padding: 5px 0;
}

.selected_address{
   width: 150px;
}

.success{
   font-size: 20px;
   color: #0000ff;
}

.errors {
   font-size: 20px;
  color: #FF0000;
}

.spot_name{
  width: 100px;
}

.lat, .lng{
  width: 80px;
}

ul {
  list-style:none;
  padding: 0;
  width: 120px;
}
.near_station{
   width: 80px;
}
.update_comment{
   width: 200px;
}

.status{
   width: 90px;
}