/* reset -------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

h1{
  font-size: 25px;
}

ul {
  list-style:none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* common -------------------------------------------- */

body {
  font-family: sans-serif;
  background-color: #fff1cf;
  height: 100%;
  min-width: 960px;
}

header {
  height: 60px;
  background-color: #17184b;
}

.header-box {
  margin-left : auto ;
  margin-right : auto ;
  width: 960px;
}

.logo {
  float: left;
  display:block;
  width: 200px;
}

.walk {
  float: right;
  margin: 10px 0;
  width:50px;
  height:50px;
  background:url("./header-img/walk.png")  no-repeat;
}

.content {
  margin-left : auto ;
  margin-right : auto ;
  width: 960px;
}

.success{
   font-size: 20px;
   color: #0000ff;
}

.errors {
   font-size: 20px;
  color: #FF0000;
}

/* login page -------------------------------------------- */
.login {
  margin-top: 50px;
  margin-left : auto ;
  margin-right : auto ;
  width: 400px;
}

.account-create {
  margin-top: 30px;
}

/* register page -------------------------------------------- */
.register {
  margin-top: 50px;
  margin-left : auto ;
  margin-right : auto ;
  width: 400px;
}

.login-link {
  margin-top: 30px;
}

.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 40px;
  border: solid 2px #d27d00;/*線色*/
  width: 300px;
  height: 100px;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 30px;
  position: absolute;
  top: 36%;
  right: 32%;
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
}

.for-admin{
  display: block;
  margin: 0 auto;
  width: 150px;
  position: absolute;
  left: 63%;
}

.introduce{
  display: block;
  margin: 0 auto;
}
.start-box{
  margin: 0 auto;
  position: relative;
}

.frame{
  width: 600px;
}

.userInsert{
  display: table;
  width: 100%;
  border-top: 1px solid #DB7093;
  border-left: 1px solid #DB7093;
  border-right: 1px solid #DB7093;
}

.last-userInsert{
  border-bottom: 1px solid #DB7093;
}
.userInsert label{
  display: table-cell;
  width: 200px;
  background-color: #9932cc;
  color: white;
  font-size: 16px;
  vertical-align: middle;
  text-indent: 1em;
}

.userInsert .userInsert-form {
  display: table-cell;
  padding: 10px
}

.userInsert textarea{
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.userInsert input[type="button"]{
  width: 100%;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid silver;
  vertical-align: top;
  background-color: lightgray;
  border-bottom: solid 3px gray;
  border-right: solid 4px darkgray;
}

.userInsert input[type="submit"]{
  width: 100%;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid silver;
  vertical-align: top;
  background-color: lightgray;
  border-bottom: solid 3px gray;
  border-right: solid 4px darkgray;
}

.userInsert select {
  width: 100%;
  height: 25px;
  font-size: 18px;
  vertical-align: top;
  padding-left: 5px;
  box-sizing: border-box;
}

.userInsert input[type="text"] {
  width: 100%;
  height: 25px;
  font-size: 18px;
  vertical-align: top;
  padding-left: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  width: 100%;
  height: 25px;
  font-size: 18px;
  vertical-align: top;
  padding-left: 5px;
}

.user_spot_table{
  table-layout: fixed
}

.user_spot_table th{
  height: 40px;
  vertical-align: middle;
}

.user_spot_table td{
  padding: 5px;
  vertical-align: middle;
}

.spot_img{
  width: 170px;
}

.spot_name{
  width: 170px;
}

.comment{
  width: 330px;
}

table,td,th{
   border: solid 1px black;
}
img{
   width: 200px
}

.wrapper{
   border-bottom: #4b0082 1px dashed;
   padding: 20px 0;
}

