/* reset -------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

h1{
  font-size: 25px;
  color: dimgray;
}

ul {
  list-style:none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,h2{
  color: dimgray;
}

/* common -------------------------------------------- */

body {
  font-family: sans-serif;
  background-color: #fdeff2;
  height: 100%;
  min-width: 960px;
}

header {
  height: 60px;
  background-color: #f4b3c2;
}

.header-box {
  margin-left : auto ;
  margin-right : auto ;
  width: 960px;
}

.logo {
  float: left;
  display:block;
  width: 200px;
}

.walk {
  float: right;
  margin: 10px 0;
  width:50px;
  height:50px;
  background:url("./header-img/walk.png")  no-repeat;
}

.content {
  margin-left : auto ;
  margin-right : auto ;
  width: 960px;
}

.content label{
  color: dimgray;
}

.content input[type="submit"]{
  color: dimgray;
}

.content input[type="radio"]{
  color: dimgray;
}

.success{
   font-size: 20px;
   color: #0000ff;
}

.errors {
   font-size: 20px;
  color: #FF0000;
}

/* login page -------------------------------------------- */
.login {
  margin-top: 50px;
  margin-left : auto ;
  margin-right : auto ;
  width: 400px;
}

.account-create {
  margin-top: 30px;
}

/* register page -------------------------------------------- */
.register {
  margin-top: 50px;
  margin-left : auto ;
  margin-right : auto ;
  width: 400px;
}

.login-link {
  margin-top: 30px;
}

.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 40px;
  border: solid 2px #d27d00;/*線色*/
  width: 300px;
  height: 100px;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 30px;
  position: absolute;
  top: 36%;
  right: 32%;
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
}

.for-admin{
  display: block;
  margin: 0 auto;
  width: 150px;
  position: absolute;
  left: 63%;
}

.introduce{
  display: block;
  margin: 0 auto;
}
.start-box{
  margin: 0 auto;
  position: relative;
}

.frame{
  width: 600px;
}

.userInsert{
  display: table;
  width: 100%;
  border-top: 1px solid #DB7093;
  border-left: 1px solid #DB7093;
  border-right: 1px solid #DB7093;
}

.last-userInsert{
  border-bottom: 1px solid #DB7093;
}
.userInsert label{
  display: table-cell;
  width: 200px;
  background-color: #c68eff;
  color: white;
  font-size: 16px;
  vertical-align: middle;
  text-indent: 1em;
}

.userInsert .userInsert-form {
  display: table-cell;
  padding: 10px
}

.userInsert textarea{
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.userInsert input[type="button"]{
  width: 100%;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid silver;
  vertical-align: top;
  background-color: lightgray;
  border-bottom: solid 3px gray;
  border-right: solid 4px darkgray;
  color: dimgray;
}

.userInsert input[type="file"]{
  color: dimgray;
}

.select_tags{
  color: dimgray;
}

.userInsert input[type="submit"]{
  width: 100%;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid silver;
  vertical-align: top;
  background-color: lightgray;
  border-bottom: solid 3px gray;
  border-right: solid 4px darkgray;
  color: dimgray;
}

.userInsert select {
  width: 100%;
  height: 25px;
  font-size: 18px;
  vertical-align: top;
  padding-left: 5px;
  box-sizing: border-box;
  color: dimgray;
}

.search select{
  width: 100%;
  height: 25px;
  font-size: 18px;
  vertical-align: top;
  padding-left: 5px;
  box-sizing: border-box;
  color: dimgray;
}

.userInsert input[type="text"] {
  width: 100%;
  height: 25px;
  font-size: 18px;
  vertical-align: top;
  padding-left: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  width: 100%;
  height: 25px;
  font-size: 18px;
  vertical-align: top;
  padding-left: 5px;
}

.user_spot_table{
  table-layout: fixed
}

.user_spot_table th{
  height: 40px;
  vertical-align: middle;
  color: dimgray;
}

.user_spot_table td{
  padding: 5px;
  vertical-align: middle;
  color: dimgray;
}

.spot_img{
  width: 170px;
}

.spot_name{
  width: 600px;
}

.table_spot_name{
  width: 170px;
}

.table_comment{
  width: 270px;
}

.table_station{
  width: 100px;
}

table,td,th{
   border: solid 1px dimgray;
}
img{
   width: 200px
}

.wrapper{
   border-bottom: #4b0082 1px dashed;
   padding: 20px 0;
}
/*takeuchi.css*/
.btn_box {
  margin: 0 auto;
  position: relative;
}
.start-box{
  width:860px;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
}

.btn_position1 {
  text-align: center;
  margin-top:50px;
}

.btn_position2 {
  text-align: center;
  margin-top:30px;
}

.btn_position3 {
  text-align: center;
  margin-top:60px;
  margin-bottom:30px;
}

.btn {
  border:none;
  background-color:transparent;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
}

.btn1 {
  background: #eebbcb;/*ボタン色*/
  border-bottom: solid 4px #e6cde3;
}

.btn2 {
  background: #ee827c;/*ボタン色*/
  border-bottom: solid 4px #f2a0a1;
  margin-right: 20px;
}
.btn3 {
  background: #f7b977;/*ボタン色*/
  border-bottom: solid 4px #f0cfa0;
  margin-left: 20px;
}
.btn4 {
  background: #a2d7dd;/*ボタン色*/
  border-bottom: solid 4px #bce2e8;
  margin-left: 15px;
}
.btn5 {
  background: #c0a2c7;/*ボタン色*/
  border-bottom: solid 4px #dbd0e6;
  margin-right: 15px;
}
.btn6 {
  background: #d8e698;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #e0ebaf;
  transition: .4s;
  font-size: 20px;
}
.btn-circle {
  display: inline-block;
}

.btn-circle:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}
.btn-square-soft-pink {
  display: inline-block;
}

.btn-square-soft-pink:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square-soft-red {
  display: inline-block;
}

.btn-square-soft-red:active {
   /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square-soft-orange {
  display: inline-block;
}

.btn-square-soft-orange:active {
   /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square-soft-purple {
  display: inline-block;
}

.btn-square-soft-purple:active {
   /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square-soft-blue {
  display: inline-block;
}

.btn-square-soft-purple:active {
   /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.for-admin{
  position: relative;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #595455;
  border: solid 2px #afafb0;
  border-radius: 3px;
  transition: .4s;
  width:160px;
}

.for-admin:hover {
  background: #afafb0;
  color: white;
}


.introduce{
  display: block;
  margin: 0 auto;
}

.menu {
  float: right;
  display:block;
  margin: 15px 0 0 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

a:link.menu {
  color: #ffffff;
}

a:visited.menu  {
  color: #ffffff;
}

