h1 {
    font-size: 35px;
    font-weight: bold;
}
h2 {
    font-size: 25px;
}
#main {
    width: 1000px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    /*background-color: #f8f4e6;*/
    background-image: url("./background_pic/view_spot_css.jpg");
}
#left {
    width: 600px;
    height: 700px;
}
#right {
    width: 400px;
    height: 700px;
}
.name_flame {
    width: 500px;
    height: 90px;
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border:solid 1px #583822;
}
#spot_name_box {
    width: 500px;
    height: 90px;
    /*margin: 50px;*/
    /*margin-top: 25px;*/
    background-color: #f8f4e6;
}
.spot_picture {
    width: 480px;
    height: 400px;
}
.test {
    background-color: #e8d3c7;
    border:solid 20px #ffffff;
    border-bottom:solid 90px #ffffff;
    width: 480px;
}
.test_flame {
    margin: 50px;
    margin-top: 20px;
    border:solid 1px #583822;
    width: 522px;
}
#spot_info_box {
    width: 350px;
    height: 650px;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 50px;
    /*background-color: #f8f4e6;*/
    border:solid 1px #583822;
}
#map_box {
    width: 330px;
    height: 330px;
    margin: auto;
    margin-top: 10px;
    background-color: #f8f4e6;
}
.pic_size {
    width: 480px;
    height: 400px;
    object-fit: cover;
}
.spot_info_comment_box {
    width: 320px;
    height: 250px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f8f4e6;
    padding: 5px;
}

.button_box {
    width: 340px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.btn-flat-logo1,.btn-flat-logo2 {
  position: relative;
  display: inline-block;
  /*font-weight: bold;*/
  margin: 5px;
  margin-left: 12px;
  margin-right: 5px;
  padding: 0.5px;
  text-decoration: none;
  color: #583822;
  background: #f8f4e6;
  transition: .4s;
}
.btn-flat-logo2 {
  position: relative;
  display: inline-block;
  /*font-weight: bold;*/
  margin: 5px;
  margin-right: 5px;
  padding: 0.5px;
  text-decoration: none;
  color: #583822;
  background: #f8f4e6;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #f8f4e6;
}
