h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
#main {
    width: 1000px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    /*background-color: #f8f4e6;*/
    background-image: url("view_spot_css.jpg");
}
#left {
    width: 700px;
    height: 700px;
}
#right {
    width: 300px;
    height: 700px;
}
.name_flame {
    width: 600px;
    height: 90px;
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border:solid 1px #583822;
}
#spot_name_box {
    width: 600px;
    height: 90px;
    /*margin: 50px;*/
    /*margin-top: 25px;*/
    background-color: #f8f4e6;
}
#map_box {
    width: 560px;
    height: 400px;
}
.test {
    background-color: #8484ff;
    border:solid 20px #fbfaf5;
    border-bottom:solid 90px #fbfaf5;
}
.test_flame {
    margin: 50px;
    margin-top: 20px;
    border:solid 1px #583822;
}
#spot_info_box {
    width: 250px;
    height: 650px;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 50px;
    /*background-color: #f8f4e6;*/
    border:solid 1px #583822;
}
.spot_picture {
    width: 230px;
    height: 230px;
    margin: 10px 10px;
    background-color: #f8f4e6;
}
.pic_size {
    width: 230px;
    height: 230px;
    object-fit: cover;
}
.spot_info_comment_box {
    width: 220px;
    height: 350px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f8f4e6;
    padding: 5px;
}

.button_box {
    width: 230px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-flat-logo {
  position: relative;
  display: inline-block;
  /*font-weight: bold;*/
  margin: 3px;
  padding: 0.5px;
  text-decoration: none;
  color: #583822;
  background: #f8f4e6;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #f8f4e6;
}
/*h1 {*/
/*    font-size: 24px;*/
/*}*/
/*h2 {*/
/*    font-size: 18px;*/
/*}*/
/*#main {*/
/*    width: 1000px;*/
/*    height: 700px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
    /*background-color: #eebbcb;*/
/*    background-image: url("./background_pic/view_spot_css.jpg");*/
/*}*/
/*#left {*/
/*    width: 700px;*/
/*    height: 700px;*/
/*}*/
/*#right {*/
/*    width: 300px;*/
/*    height: 700px;*/
/*}*/

/*#spot_name_box {*/
/*    width: 600px;*/
/*    height: 90px;*/
/*    margin: 50px;*/
/*    margin-top: 25px;*/
    /*background-color: #f8f4e6;*/
/*    border:solid 1px #583822;*/
/*}*/
/*#map_box {*/
/*    width: 600px;*/
/*    height: 400px;*/
/*}*/
/*.test {*/
/*    background-color: #8484ff;*/
/*    border:solid 20px #f8f4e6;*/
/*    border-bottom:solid 90px #f8f4e6;*/
/*}*/
/*.test_flame {*/
/*    margin: 50px;*/
/*    border:solid 1px #583822;*/
/*}*/
/*#spot_info_box {*/
/*    width: 250px;*/
/*    height: 650px;*/
/*    margin-top: 25px;*/
/*    margin-left: 0px;*/
/*    margin-right: 50px;*/
    /*background-color: #f8f4e6;*/
/*    border:solid 1px #583822;*/
/*}*/
/*.spot_picture {*/
/*    width: 230px;*/
/*    height: 230px;*/
/*    margin: 10px 10px;*/
/*    background-color: #f8f4e6;*/
/*}*/
/*.pic_size {*/
/*    width: 230px;*/
/*    height: 230px;*/
/*}*/
/*.spot_info_comment_box {*/
/*    width: 230px;*/
/*    height: 370px;*/
/*    margin-top: 10px;*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*    background-color: #f8f4e6;*/
/*}*/

/*.button_box {*/
/*    width: 230px;*/
/*    height: 20px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*}*/
/*.btn-flat-logo {*/
/*  position: relative;*/
/*  display: inline-block;*/
  /*font-weight: bold;*/
/*  margin: 3px;*/
/*  padding: 0.5px;*/
/*  text-decoration: none;*/
/*  color: #583822;*/
/*  background: #f8f4e6;*/
/*  transition: .4s;*/
/*}*/

/*.btn-flat-logo:hover {*/
/*  background: #f8f4e6;*/
/*}*/
/*#main {*/
/*    width: 1000px;*/
/*    height: 700px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    background-color: #c0c0c0;*/
/*}*/
/*#left {*/
/*    width: 700px;*/
/*    height: 700px;*/
/*}*/
/*#right {*/
/*    width: 300px;*/
/*    height: 700px;*/
/*}*/

/*#spot_name_box {*/
/*    width: 600px;*/
/*    height: 100px;*/
/*    margin: 50px;*/
/*    margin-top: 25px;*/
/*    background-color: #f0f8ff;*/
/*}*/
/*#map_box {*/
/*    width: 600px;*/
/*    height: 500px;*/
/*    margin: 50px;*/
/*    background-color: #008b8b;*/
/*}*/
/*#spot_info_box {*/
/*    width: 250px;*/
/*    height: 650px;*/
/*    margin-top: 25px;*/
/*    margin-left: 0px;*/
/*    margin-right: 50px;*/
/*    background-color: #ffffe0;*/
/*}*/
/*.spot_picture {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    margin: 5px 25px;*/
/*}*/
/*.pic_size {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/
/*.spot_info {*/
/*    padding: 20px;*/
/*}*/
/*.spot_info_comment_box {*/
/*    width: 200px;*/
/*    height: 400px;*/
/*    margin-top: 10px;*/
/*    margin-left: 25px;*/
/*    margin-right: 25px;*/
/*    background-color: #ffffa8;*/
/*}*/

/*.button_box {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/